* {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

/*html鐨勮儗鏅鑹叉牱寮忔槸涓轰簡鐪嬪緱鏇存竻妤氾紝鏀惧叆绯荤粺鏃跺幓鎺�*/
html {
/* 	background-color: #ccc; */
	font-family: "microsoft yahei", Tahoma, sans-serif;
}

/* input[type="text"] {
	width: 280px;
	height: 25px;
} */

.cityControl {
	display: none;
	position: absolute;
	width: 400px;
	/*height: 326px;*/
	font-size: 12px;
	background-color: #fff;
	padding-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.cityControl ul{
	margin-left:0px;
}

.cityControl ul.classify {
	width: 100%;
	height: 40px;
}

.cityControl ul.classify li {
	width: 33.3%;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	list-style: none;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	background-color: #373c64;
}

ul.classify li a {
	color: #fff;
	display: inline-block;
	padding: 0px 10px;
	height: 40px;
}

ul.classify li a.current {
	box-sizing: border-box;
	color: #faaf19;
	border-bottom: 3px solid #faaf19;
}

.panel {
	display: none;
}

.panel ul.region-tab {
	width: 100%;
	height: 26px;
	border-bottom: 1px solid #ccc;
}

.panel ul.region-tab li {
	width: 79px;
	height: 26px;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 26px;
	list-style: none;
	color: #1a1a1a;
	/* box-sizing: border-box; */
	border-right: 1px solid #ccc;
}

.HMT ul.region-tab li {
	width: 132px;
}

.international ul.region-tab li {
	width: 99px;
}

.HMT ul.province li {
	width: 133px;
}

.panel ul.region-tab li.current {
	color: #fff;
	background-color: #faaf19;
}

.addressDetail {
	display: none;
}

.hotCity,.nation {
	display: block;
}

.HMT ul.province {
	display: block;
}

.addressDetail li {
	width: 66px;
	height: 35px;
	float: left;
	text-align: center;
	line-height: 35px;
	color: #666;
	cursor: pointer;
}

.addressDetail li a{
	color:#666 !important;
}

.nation .group {
	width: 360px;
	float: left;
	margin: 0px 20px;
}

.nation .group label {
	width: 30px;
	text-align: center;
	height: 26px;
	line-height: 26px;
	float: left;
	color: #faaf19;
}

.nation .group ul li {
	width: 66px;
	height: 25px;
	line-height: 25px;
	text-align:center;
}

.province .group label {
	display: inline-block;
	width: 50px;
	height: 25px;
	background-color: #faaf19;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin: 0px 8px;
}

.province .group {
	float: left;
	margin-top: 5px;
}

.province .group ul {
	width: 334px;
	float: right;
}

.province ul li {
	height: 25px;
	line-height: 25px;
}

ul.nationGroup {
	width: 340px;
	height: 26px;
	margin: 0px 20px;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
}

ul.nationGroup  li {
	width: auto;
	height: 26px;
	line-height: 26px;
	float: left;
}

ul.nationGroup  li a {
	display: inline-block;
	height: 26px;
	padding: 0px 10px;
	box-sizing: border-box;
}

ul.nationGroup  li a.current {
	color: #91e5ff;
	border-bottom: 3px solid #91e5ff;
}